@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
background: #870000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style: none;
	display: inline-flex;
	margin-left: 25%;
	margin-right: 25%;
	padding-left: 0;

}

li {
	margin: auto 20px;
	padding: 10px 15px ;
	transition-duration: 0.6s;
	transition-property: background-color, border-radius;
	transition-timing-function: ease-in-out;
	


}

li a {
	text-decoration: none;	
	padding: 10px 15px;
	color: #37b78a;

}

.menu {
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}

li:hover {
	background-color: #227a5b;
	border-radius: 5px;
}

li a:hover {
	color: #dbdbdb;
	font-weight: bold;
}

.container {
    margin-left: 18%;
    margin-top: 30px;

}